@font-face {
  font-family: "Panchang";
  src: url("./fonts/Panchang-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("./fonts/Panchang-Medium.otf") format("opentype");
  font-weight: 500;
}

.font {
  font-family: "Panchang", sans-serif;
}
.App {
  text-align: center;
}
